:root {
  --primary: #1c0b19;
  --secondary: #140d4f;
  --tertiary: #4ea699;
  --quaternary: #2dd881;
  --quinary: #6fedb7;
  --accent: #e74c3c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Para incluir o padding e a borda no cálculo da largura e altura */
}

.elevated {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  border-radius: 8px; /* Opcional: bordas arredondadas */
  padding: 16px; /* Opcional: preenchimento interno */
}

.link {
  color: var(--secondary);
}

.accordeon-line {
  width: 80%;
  max-width: 700px;
}

/* Cor do AccordionSummary (padrão) */
.accordeon-line .MuiAccordionSummary-root {
  background-color: rgba(72, 129, 190, 0.3); /* Azul mais forte */
  border-radius: 4px; /* Borda arredondada opcional */
}

/* Cor de fundo do AccordionDetails */
.accordeon-line .MuiAccordionDetails-root {
  background-color: rgba(72, 129, 190, 0.1); /* Azul claro */
  padding: 16px; /* Preenchimento interno */
  border: 2px solid rgba(72, 129, 190, 0.3);
}

/* Efeito hover no AccordionSummary */
.accordeon-line .MuiAccordionSummary-root:hover {
  background-color: rgba(72, 129, 190, 0.4); /* Um pouco mais forte no hover */
}

html, body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh; /* Garante que o html e o body ocupem toda a altura da janela */
  overflow: hidden; /* Impede o scroll da página */
}